<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/reset.css">
    <style>
        .wrap {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #eee;
            flex-direction: column;
        }

        .template_box {
            width: 100%;
            max-width: 768px;
        }

        table {
            width: 100%;
            font-size: 14px;
        }

        td {
            padding: 10px;
            border-top: 1px solid #ccc;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <div id="app" class="template_box">
            <h1>x-template 建立元件</h1>
            <table>
                <!-- <row-component v-for="(item , key) in info" :key="key" :person="item"></row-component> -->
                <tr is="row-component" v-for="(item , key) in info" :key="key" :person="item"></tr>
            </table>
        </div>
        <div id="app1">
            <h1>在component 內建立DATA</h1>
            <counter-componet></counter-componet>
            <counter-componet></counter-componet>
            <counter-componet></counter-componet>
        </div>
        <div id="app2">
            <h1>靜態傳入</h1>
            <photo img-url="https://picsum.photos/300/100?random=3"></photo>
            <h1>動態傳入</h1>
            <photo :img-url="url"></photo>
        </div>
    </div>


   
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js'></script>
    <script type="text/x-template" id="rowTemplate">
        <tr>
            <td>{{person.name}}</td>
            <td>{{person.in}}</td>
            <td>{{person.out}}</td>
        </tr>
    </script>
    <script type="text/x-template" id="counter-componet">
        <div>
            你已經點擊 <button @click="counter += 1">{{counter}} </button>下
        </div>
    </script>
    <script type="text/x-template" id="photo">
        <div>
            <img :src="imgUrl" alt="" />
            <p>風景照</p>
        </div>
    </script>



    <script>
        // Vue.component('row-component', {
        //     props: ['person'],
        //     template: '#rowTemplate'
        // })
        Vue.component('counter-componet',{
            data: function(){
                return {
                    counter:0
                }
            },
            template:"#counter-componet"
        })
        
        Vue.component('photo',{
            props:['imgUrl'],
            template:"#photo"
        })
        var child = {
            props: ['person'],
            template: '#rowTemplate'
        }
        let data = {
            info: [
                { name: "小明", in: "100", out: "500" },
                { name: "杰倫", in: "10000", out: "5000" },
                { name: "小美", in: "200", out: "200" },
                { name: "曉華", in: "700", out: "10000" },
            ]
        }

        let vm = new Vue({
            el: "#app",
            data: data,
            components:{
                "row-component" : child
            }
        })
        let vm1 = new Vue({
            el: "#app1",
        })
        let vm2 = new Vue({
            el: "#app2",
            data:{
                url:"https://picsum.photos/300/100?random=1"
            }
        })
    </script>
</body>

</html>